# ----------------------------------------------------------------------
# 1. 환경 및 빌드 관련 파일 (Python/Conda/venv)
# ----------------------------------------------------------------------
# 가상 환경 디렉토리
venv/
.venv/
env/
.env/

.conda/
conda_env.yml
*.pyc
__pycache__/
dist/
build/
*.egg-info/

# ----------------------------------------------------------------------
# 2. 운영체제 및 에디터 임시 파일
# ----------------------------------------------------------------------
.DS_Store
.localized
Thumbs.db
.idea/
.vscode/
*.swp
*~
.sess

# 모델은 용량이 크다
model/

# ----------------------------------------------------------------------
# 3. 데이터 및 로그 파일
# ----------------------------------------------------------------------
# 업로드된 파일이나 생성된 데이터/모델은 용량이 크므로 제외
# *.h5
# *.pkl
# *.csv
# *.log